
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  background-color: #97e5ee;
  height: 200px;
  width: 300px;
  /*renders front/back only*/
  transform-style: preserve-3d;
  /* flip animation effect */
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  /*using variable in translateY from card:hover*/
  translateY(var(--translate-y, 0));
}

.card.flip {
  --rotate-y: 180deg
}
.card:hover {
  /* setting variable to move up 4px / *applying to hover effect*/
  --translate-y: -4px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
}

.card .question,
.card .answer {
  position: absolute;
  /* hids card*/
  backface-visibility: hidden;
}

.card .answer {
  /* rotates card*/
  transform: rotateY(180deg);
}